.htm-it-instance-list table {
    /* this is to get css overflow:ellipsis working on the table */
    table-layout: fixed;
    width: 100%;
}
.htm-it-instance-list table > colgroup > col:nth-child(2) {
    width: 15%;
}
.htm-it-instance-list table > colgroup > col:nth-child(3) {
    width: 11%;
}

.htm-it-instance-list td .close {
    float: none;
}
