{
  "test":{
    "testStatus":true
  },
  "syncRepo":{
    "message":"x86_64 is up to date with S3",
    "syncStatus":true
  },
  "manifest":{
    "buildWorkspace":"/opt/numenta/jenkins/workspace/grok-product-pipeline/2014-12-04_20-11-33SXydjO",
    "pipeline":"grok",
    "grokRemote":"git@github.com:GrokSolutions/products.git",
    "logLevel":"debug",
    "releaseVersion":"master",
    "nupicRemote":"git@github.com:numenta/nupic.git",
    "sha":"ca0e329c5d08e403f743ceb2265944f8e6a66d08",
    "preCI":"8a5dc36a6cacd5546b3a515755a5c165cf2202e5",
    "ciBranch":"CI",
    "nupicBranch":"master"
  },
  "packageRpm":{
    "grok":"grok-py27-groksolutions-master-20141204.20.26.23.x86_64.rpm",
    "syncRpm":true,
    "nupic":"nupic-py27-numenta-master-20141204.20.27.26.x86_64.rpm",
    "repoName":"x86_64"
  },
  "build":{
    "grokHome":"/opt/numenta/jenkins/workspace/grok-product-pipeline/2014-12-04_20-11-33SXydjO/products/grok",
    "grokDeployTrack":"groksolutions",
    "nupicDeployTrack":"numenta",
    "deployTrack":"groksolutions-numenta",
    "amiName":"groksolutions-8a5dc36a6cacd5546b3a515755a5c165cf2202e5",
    "grokSha":"ca0e329c5d08e403f743ceb2265944f8e6a66d08",
    "nupicSha":"a4a1cd77ac560b8336e57d70b55fa8c95e1f25eb",
    "nupicBuildDir":"/var/build/nupic/a4a1cd77ac560b8336e57d70b55fa8c95e1f25eb"
  }
}
