*.pyc
*.sublime-project
*.sublime-workspace
.DS_Store
.idea
build/sphinx
conf/.htm_it_id
conf/ssl/*.bak
conf/htm-it-api.conf
conf/application.conf
conf/htm-it.conf
conf/htm-it-app.conf
conf/model-checkpoint.conf
conf/model-swapper.conf
conf/product.conf
conf/quota.conf
conf/rabbitmq.conf
conf/supervisord.conf
conf/overrides/
htm.it.egg-info
htm.it/engine/utils/logs
htm.it-api-server/conf/
htm.it/logs
htm-it-app/static/htm-it-common
htm-it-supervisor.sock
htm-it-supervisord.pid
logs/
node_modules/
npm-debug.log
sauce_connect.*
tests/py/integration/engine/utils/logs
tests/py/unit/engine/utils/logs
tests/results
*.*.un~
