*.pyc
*.sublime-project
*.sublime-workspace
.DS_Store
.idea
build/sphinx
conf/.grok_id
conf/ssl/*.bak
conf/grok-api.conf
conf/application.conf
conf/grok.conf
conf/grok-app.conf
conf/model-checkpoint.conf
conf/model-swapper.conf
conf/product.conf
conf/quota.conf
conf/rabbitmq.conf
conf/supervisord.conf
conf/overrides/
grok.egg-info
grok/engine/utils/logs
grok-api-server/conf/
grok-app/logs
grok-app/static/grok-common
grok-supervisor.sock
grok-supervisord.pid
logs/
node_modules/
npm-debug.log
sauce_connect.*
tests/py/integration/engine/utils/logs
tests/py/unit/engine/utils/logs
tests/results
*.*.un~
