/* HTM Studio - Styles for entire App */

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to bottom, #eeeeee, #e0e0e0);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-face: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

._init {
  color:#999;
  font-family: Arial, sans-serif;
  font-size: 250%;
  margin-top: 17rem;
  text-align: center;
}


/* DyGraphs style overrides, all require !important to activate */

.dygraph-chart:active {
  cursor: move !important;
}

.dygraph-axis-label,
.dygraph-axis-label-x,
.dygraph-axis-label-y,
.dygraph-axis-label-y1,
.dygraph-axis-label-y2 {
  display: none !important;
}

.dygraph-legend {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px solid #ccc !important;
  box-shadow: 2px 2px 3px #999 !important;
  color: #666 !important;
  font-size: 12px !important;
  left: 15px !important;
  padding: 5px 8px !important;
  top: 12px !important;
  width: auto !important;
}

.dygraph-rangesel-bgcanvas {
  z-index: 10 !important;
}

.dygraph-rangesel-fgcanvas {
  z-index: 30 !important;
}

.dygraph-rangeselbarchart-canvas {
  opacity: 0.8 !important;
  z-index: 20 !important;
}

img.dygraph-rangesel-zoomhandle {
  /* do not set display:none, it'll break dygraps range selector */
  cursor: move !important;
  opacity: 0 !important;
}
