/* Entire App */

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to bottom, #eeeeee, #e0e0e0);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-face: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

._init {
  color:#999;
  font-family: Arial, sans-serif;
  font-size: 250%;
  margin-top: 17rem;
  text-align: center;
}


/* DyGraphs overrides */

img.dygraph-rangesel-zoomhandle {
  opacity: 0;
}
