.htm-it-setup-progress-bar.panel {
    background: #fafffa;
    margin: 1em 0 2em 0;
}
.htm-it-setup-progress-bar.panel .panel-body {
    padding: 0.33em 0.5em;
}
.htm-it-setup-progress-bar.panel .panel-body .lead {
    left: 0.5em;
    margin-bottom: 0;
    margin-top: 0.75em;
    opacity: 0.80;
}
.htm-it-setup-progress-bar.panel span {
    font-size: 90%;
}
.htm-it-setup-progress-bar.panel .progress-bar-container {
    margin: 0.66em;
}
.htm-it-setup-progress-bar.panel .progress {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
.htm-it-setup-progress-bar.panel .progress-bar {
    opacity: 0.80;
}
