.htm-it-manage-custom-metrics h3 {
    margin-top: 2em;
}

.htm-it-manage-custom-metrics table {
    /* this is to get css overflow:ellipsis working on the table */
    /* table-layout: fixed; */
    width: 100%;
}

.htm-it-manage-custom-metrics td .close {
    float: none;
}
