.htm-it-alert-update {
    margin-left: 0.5em;
}

.htm-it-alert-update h2 {
    margin-top: 0.33em;
    opacity: 1;
}

.htm-it-alert-update ul {
    margin-top: 0.33em;
}

.htm-it-alert-update button {
    margin-top: 0.75em;
}
