.htm-it-page h1 {
    margin-bottom: 0.66em;
}

.htm-it-page form {
    padding-top: 2em;
}
.htm-it-page label {
    padding-bottom: 0.33em;
}
.htm-it-page label:after {
    content: ':';
}

.htm-it-page #key {
    max-width: 15em;
}
.htm-it-page #secret {
    max-width: 17em;
}

.htm-it-page .form-group div strong {
    font-size: 110%;
    position: relative;
    top: 0.45em;
}
