.htm-it-manage h3 {
    margin-top: 2em;
}

.htm-it-manage button .caret {
    margin-left: 0.33em;
}

.htm-it-manage .button .dropdown-menu > li > a {
    text-decoration: none;
}

.htm-it-manage #embed-form {
    margin-top: 5em;
}
