.htm-it-page .import {
    margin-top: 2em;
}
.htm-it-page .import label {
    padding-bottom: 0.33em;
}
.htm-it-page .import label:after {
    content: ':';
}
.htm-it-page .import #upload {
    margin-right: 0.66em;
    position: relative;
}
.htm-it-page .import #upload #file {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.htm-it-page .import code {
    display: inline-block;
}

.htm-it-page h3 {
    margin-top: 2em;
}
