[Unit]
Description=Grok services
After=network.target
After=syslog.target
After=mysql.service

[Install]
Alias=grokservices.service
WantedBy=multi-user.target

[Service]
Type=forking
ExecStart=/etc/init.d/grokservices start
ExecStop=/etc/init.d/grokservices stop
Restart=on-abort
