[Unit]
Description=GROK services (tickle)

[Install]
Alias=grokservices-tickle.service

[Service]
Type=forking
ExecStart=/etc/init.d/grokservices tickle
ExecStop=/etc/init.d/grokservices stop
Restart=on-abort
