[Unit]
Description=GROK pre-load

[Install]
Alias=grok-preload.service

[Service]
Type=forking
PreExecStart=/etc/init.d/grok-preload configtest
ExecStart=/etc/init.d/grok-preload start
ExecStop=/etc/init.d/grok-preload stop
ExecReload=/etc/init.d/grok-preload reload
Restart=on-abort
