[Unit]
Description=GROK error

[Install]
Alias=grok-error.service

[Service]
Type=forking
ExecStart=/etc/init.d/grok-preload grok-error
ExecStop=/etc/init.d/grok-preload stop
ExecReload=/etc/init.d/grok-preload reload
Restart=on-abort
