[Unit]
Description=HTM-IT loading

[Install]
Alias=htm-it-loading.service

[Service]
Type=forking
ExecStart=/etc/init.d/htm-it-preload htm-it-loading
ExecStop=/etc/init.d/htm-it-preload stop
ExecReload=/etc/init.d/htm-it-preload reload
Restart=on-abort
