[Unit]
Description=HTM-IT services
After=network.target
After=syslog.target
After=mysql.service

[Install]
Alias=htm-it-services.service
WantedBy=multi-user.target

[Service]
Type=forking
ExecStart=/etc/init.d/htm-it-services start
ExecStop=/etc/init.d/htm-it-services stop
Restart=on-abort
