[Unit]
Description=HTM-IT error

[Install]
Alias=htm-it-error.service

[Service]
Type=forking
ExecStart=/etc/init.d/htm-it-preload htm-it-error
ExecStop=/etc/init.d/htm-it-preload stop
ExecReload=/etc/init.d/htm-it-preload reload
Restart=on-abort
