[Unit]
Description=HTM-IT stopped
 
[Install]
Alias=htm-it-stopped.service
 
[Service]
Type=forking
ExecStart=/etc/init.d/htm-it-preload htm-it-stopped
ExecStop=/etc/init.d/htm-it-preload stop
ExecReload=/etc/init.d/htm-it-preload reload
Restart=on-abort

