[Unit]
Description=HTM-IT pre-load

[Install]
Alias=htm-it-preload.service

[Service]
Type=forking
PreExecStart=/etc/init.d/htm-it-preload configtest
ExecStart=/etc/init.d/htm-it-preload start
ExecStop=/etc/init.d/htm-it-preload stop
ExecReload=/etc/init.d/htm-it-preload reload
Restart=on-abort
