[Unit]
Description=RabbitMQ
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
WorkingDirectory=/var/lib/rabbitmq
ExecStart=/usr/sbin/rabbitmq-server
ExecStop=/usr/sbin/rabbitmqctl stop
Restart=always
