[Unit]
Description=RabbitMQ

[Install]
Alias=rabbitmq-server.service

[Service]
ExecStart=/usr/sbin/rabbitmq-server
ExecStop=/usr/sbin/rabbitmqctl stop
Restart=always
